  .App {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 36px; 
    color: #333; 
    margin-bottom: 20px; 
  }
  
  input {
    width: 300px; 
    padding: 15px; 
    border: 2px solid #ddd; 
    border-radius: 25px; 
    font-size: 16px; 
    outline: none; 
    transition: border-color 0.3s; 
  }
  
  input:focus {
    border-color: #007BFF; 
  }
  
  input::placeholder {
    color: #aaa;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #ffffff00;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #5a5af7;
    margin-bottom: 1.5rem;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
  }
  
  .search-input {
    flex-grow: 1;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
  }
  
  .search-button {
    background-color: #ffc107;
    color: #333;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #ffca2c;
  }